.favourite {
    background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(15, 15, 15, 0.6) 0%
        ),
        linear-gradient(180deg, #4c0000 0%, #0a0a0a 100%);
    width: 55%;
    height: 100vh;
    position: fixed;
    left: 20%;
    padding: 30px 20px;
}

.favourite h2 {
    color: white;
    margin-bottom: 20px;
}

.favourite-table th,
.favourite-table td {
    cursor: pointer;
    color: white;
    text-align: left;
    padding: 10px 20px;
}

.favourite-table tr:hover {
    background-color: rgba(82, 0, 0, 1);
}

.favourite-table i {
    cursor: pointer;
}
